<h3 style="text-align:center;">Editing Project</h3>

<%= render 'form', project: @project %>

<div class="container">
	<div class="text-center">
    <li class="button-60", class="text-center">
        <%= link_to 'Back', projects_path %>
    </li>
    <li class="button-60", class="text-center">
        <%= link_to 'Show', @project %>
    </li>

    
	</div>
</div>
